@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif "Roboto";
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  background: #1b7dff;
  color: #ffffff;
  border: none;
  outline: none;
}

.nav-hero {
  background: url("./assets/bcg-image.png") no-repeat center;
  height: 800px;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 12rem;
}

.nav-hero nav .hamburger {
  width: 32px;
  height: 25px;
  display: none;
  cursor: pointer;
}

.nav-hero nav img {
  width: 82px;
  height: 31px;
  cursor: pointer;
}

.nav-hero nav div a {
  font-family: Lato;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin-left: 3rem;
}

.nav-hero article {
  display: flex;
  flex-direction: column;
  max-width: 1250px;
  justify-content: center;
  align-items: flex-start;
  padding: 5rem 12rem;
}

.hero-top-text {
  width: 80%;
  margin-bottom: 4rem;
}

.nav-hero article h1 {
  font-family: Lato;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  color: #ffffff;
  margin-bottom: 10px;
}

.top-text {
  font-family: Lato;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  text-align: left;
  width: 80%;
}

.hero-bottom-text {
  display: flex;
}

.oval {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  margin-right: 6px;
}

.hero-bottom-text p {
  font-family: Lato;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 4rem;
  border-bottom: 1px solid #ffffff;
}

.btn {
  font-family: Lato;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  padding: 7px 25px;
}

.middle-section {
  padding: 6rem;
}

.benefits {
  display: flex;
  flex-direction: column;

  padding: 3rem;

  margin-top: -15rem;
  background-color: #ffffff;
  margin-bottom: 3rem;
}

.benefits h2 {
  font-family: Lato;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  color: #102746;
  margin-bottom: 4rem;
}

.benefits-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.benefits-card {
  width: 300px;
}

.benefits-card h4 {
  font-family: Lato;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin: 10px 0;
}

.benefits-card p {
  font-family: Lato;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 10px;
}

.benefits-card-more {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.benefits-card-more p {
  font-family: Lato;
  font-size: 16px;
  line-height: 24px;
  color: #006dfe;
  margin-right: 10px;
}

.trip {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
}

.trip-text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.trip-text-left h3 {
  font-family: Lato;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  color: #102746;
  margin-bottom: 5px;
}

.trip-text-left .dash {
  width: 250px;
  height: 2px;
  background-color: #006dfe;
}

.trip-text-right {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.trip-text-right p {
  font-family: Lato;
  font-size: 16px;
  line-height: 24px;
  color: #006dfe;
}

.trip-text-right img {
  margin-left: 10px;
  width: 20px;
}

.trip-images {
  display: flex;
  flex-direction: column;
}

.trip-top-images,
.trip-bottom-images {
  display: flex;
  margin: 10px 0;
  gap: 10px;
}

.trip-top-images img {
  flex: 1;
  height: 400px;
}

.trip-bottom-images img {
  flex: 1;
  height: 350px;
}

.neighbourhood {
  display: flex;
  flex-direction: column;
  margin: 4rem 0;
}

.neighbourhood-top {
  margin-bottom: 2rem;
}

.neighbourhood-top > img,
.neighbourhood-bottom > img {
  width: 575px;
}

.neighbourhood-top,
.neighbourhood-bottom {
  display: flex;
}

.neighbourhood-top img,
.neighbourhood-top div,
.neighbourhood-bottom img,
.neighbourhood-bottom div {
  flex: 1;
}

.neighbourhood h3 {
  font-family: Lato;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  color: #102746;
  margin-bottom: 2rem;
}

.neighbourhood p {
  font-family: Lato;
  font-size: 16px;
  line-height: 24px;
  color: #102746;
  margin-bottom: 3rem;
  overflow-wrap: break-word;
}

.neighbourhood .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.neighbourhood-top .content {
  padding: 2rem;
}

.neighbourhood-bottom .content {
  padding: 3rem;
}

.neighbourhood .content .more-pics span {
  font-family: Lato;
  font-size: 16px;
  line-height: 24px;
  color: #006dfe;
  cursor: pointer;
}

.neighbourhood .content .more-pics span img {
  margin-left: 10px;
}

.places {
  margin-bottom: 2rem;
}

.places .trip-text-left {
  margin-bottom: 2rem;
}

.places-content {
  display: flex;
  width: 1040px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.places-card {
  margin: 10px;
  background-color: #fff;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
}

.card-top {
  background: url("./assets/place1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 350px;
  height: 200px;
  position: relative;
  display: flex;
  align-items: flex-end;
  margin-bottom: 2rem;
}

.notifications {
  display: flex;

  padding: 10px;
  background: rgba(21, 24, 36, 0.6);
  color: #ffffff;
  width: 100%;
}

.notifications p {
  margin-right: 100px;
  font-family: Lato;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.notifications .icon {
  display: flex;
  justify-content: center;
}

.notifications .icon img {
  width: 12px;
  height: 12px;
  margin-left: 2px;
  cursor: pointer;
}

.notifications .icon span {
  margin-right: 10px;
  font-size: 16px;
}

.card-bottom {
  padding: 5px;
}

.card-bottom p {
  font-family: Lato;
  font-size: 16px;
  line-height: 24px;
  color: #102746;
  margin-bottom: 1.5rem;
}

.card-bottom button {
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
  padding: 10px;
}

.app-video {
  height: 100vh;
  position: relative;
  width: 100%;
}

.app-video img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.app-video-overlay-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 50%;
  /* inset: 0; */
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background: #0e1d28;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 7rem;
}

footer img {
  cursor: pointer;
}

.footer-details {
  display: flex;
}

.footer-details div {
  margin-left: 5rem;
}

.footer-details div p {
  font-family: Lato;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.footer-details div li,
.footer-details div a {
  font-family: Lato;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

@media screen and (max-width: 1290px) {
  .nav-hero {
    height: 600px;
  }

  nav {
    padding: 2.5rem 10rem;
  }

  .benefits {
    margin-top: -10rem;
    margin-bottom: 2.5rem;
  }

  .trip-bottom-images {
    flex-wrap: wrap;
  }

  .trip-bottom-images img {
    flex: 1;
    height: 250px;
    object-fit: cover;
    width: 35%;
  }
}

@media screen and (max-width: 1190px) {
  .nav-hero article {
    padding: 5rem 10rem;
  }

  .benefits {
    margin-top: -8rem;
    margin-bottom: 2rem;
  }

  .hero-bottom-text p {
    margin-right: 3.5rem;
  }

  .places-content {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }

  .places-card {
    margin: 10px;
    width: 450px;
  }

  .card-top {
    width: 100%;
  }

  .neighbourhood-top > img,
  .neighbourhood-bottom > img {
    width: 470px;
  }
}

@media screen and (max-width: 900px) {
  nav {
    padding: 2.5rem;
  }

  nav div {
    display: flex;
    position: fixed;
    background-color: #0e1d28;
    flex-direction: column;
    top: 80px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
    z-index: 10;
  }

  nav div a {
    margin: 8px;
  }

  .nav-hero nav .hamburger {
    display: block;
  }

  nav div.show {
    transform: translateX(0);
  }

  .nav-hero article {
    padding: 5rem;
  }

  .oval {
    margin-right: 4px;
  }

  .hero-bottom-text p {
    margin-right: 2rem;
    font-size: 16px;
  }

  .btn {
    font-size: 20px;
    padding: 6px 20px;
  }

  .middle-section {
    padding: 3rem;
  }

  .benefits {
    padding: 1rem;
    margin-top: 1rem;
  }

  .benefits h2 {
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 3rem;
  }

  .benefits-card {
    margin-right: 20px;
  }

  .trip-top-images,
  .trip-bottom-images {
    margin: 10px 0;
    gap: 5px;
  }

  .trip-top-images img {
    /* flex: 1; */
    height: 300px;
    width: 50%;
    object-fit: cover;
  }

  .neighbourhood-top,
  .neighbourhood-bottom {
    flex-direction: column;
  }

  .neighbourhood-top > img,
  .neighbourhood-bottom > img {
    width: 100%;
  }

  .places-card {
    margin-bottom: 20px;
  }

  footer {
    padding: 3rem 5rem;
  }
}

@media screen and (max-width: 838px) {
  .places-content {
    width: 250px;
  }

  .places-card {
    margin: 10px 5px;
  }
}

@media screen and (max-width: 775px) {
  .nav-hero article h1 {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 10px;
  }

  .top-text {
    font-size: 18px;
    line-height: 22px;
    width: 100%;
  }

  .hero-top-text {
    margin-bottom: 3rem;
  }

  .hero-bottom-text {
    flex-direction: column;
  }

  .oval {
    margin-right: 8px;
  }

  .hero-bottom-text p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 1.5rem;
  }

  .btn {
    font-size: 20px;
    line-height: 25px;
    padding: 7px 15px;
  }

  footer {
    padding: 5rem;
  }

  .footer-details div {
    margin-left: 3rem;
  }
}

@media screen and (max-width: 650px) {
  .nav-hero {
    height: 90%;
  }

  .benefits-details {
    flex-direction: column;

    align-items: flex-start;
  }

  .benefits {
    padding: 0;
  }

  .benefits h2 {
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 2rem;
  }

  .benefits-card {
    margin-bottom: 10px;
  }

  .trip-text {
    flex-direction: column;
    align-items: flex-start;
  }

  .trip-text-left {
    margin-bottom: 1.5rem;
  }

  .trip-text-left h3 {
    font-size: 32px;
    line-height: 38px;
  }

  .trip-top-images,
  .trip-bottom-images {
    flex-direction: column;
    margin: 5px 0;
    width: 100%;
  }

  .trip-top-images img {
    width: 100%;
  }

  .trip-bottom-images img {
    width: 100%;
  }

  .neighbourhood .content {
    align-items: flex-start;
    text-align: left;
  }

  .places-content {
    width: 100%;
  }

  .places-card {
    margin: 20px 5px;
    width: 100%;
  }

  .card-bottom p {
    font-size: 18px;
    line-height: 22px;
  }

  .card-bottom button {
    font-size: 18px;
    line-height: 20px;

    padding: 12px;
  }

  .notifications p {
    margin-right: auto;
    font-size: 18px;
  }

  .notifications .icon img {
    margin-left: 2px;
  }

  .notifications .icon span {
    font-size: 18px;
  }

  .app-video {
    height: 60vh;
  }

  footer {
    padding: 4rem 2rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  footer img {
    width: 100px;
    margin-bottom: 1.5rem;
  }

  .footer-details div {
    margin-left: 1rem;
  }

  .footer-details p,
  .footer-details li {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 500px) {
  .nav-hero article {
    padding: 3rem;
  }

  .nav-hero article h1 {
    font-size: 30px;
    line-height: 32px;
  }
}

@media screen and (max-width: 350px) {
  .nav-hero article h1 {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 15px;
  }

  .trip-text-left h3 {
    font-size: 22px;
    line-height: 30px;
  }

  .app-video {
    height: 50vh;
  }
}
